{% load static %}

<!DOCTYPE html>
<html lang="en" class="bg-dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Project Management System</title>
        <!-- <link rel="icon" type="image/x-icon" href=""> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body class="bg-light" onresize="initSidebar()" onload="initSidebar()">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

        {% if messages %}
        {% for msg in messages %}
            {% if msg.tags == 'error' %}
                <div class="fixed-top alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    {{ msg }}
                </div>
            {% else %}
                <div class="fixed-top alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    {{ msg }}
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
        
        <div class="container-fluid vh-100"  style="background-image: url('{% static 'images/background.jpg' %}'); background-size:cover;">
            <div class="row justify-content-center align-items-center mx-2 h-100">
                <div class="col-auto p-3 py-4 p-md-5 text-center mb-5 rounded rounded-5" >
                    <h1 class="mb-3">Project Management System</h1>
                    {% block content %}
                    <div class="row my-3 my-md-4 justify-content-center">
                        <img style="height: 300px; width: auto;" src="{% static 'images/logo.png' %}"/>
                    </div>
                    <div class="row mx-3">
                        <a class="btn btn-success w-100" href="{% url 'Login' %}">
                            Login
                        </a>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

