{% extends 'navbar.html' %}

{% block content %}
<div class="row px-2 px-md-4 py-4">
    <div class="col-12 mb-2">
        <h2 class="m-0">Resource Booking Request</h2>
        <hr class="border-3 my-2">
    </div>
    <div class="col-12 mb-3">
        <div class="row px-2">
            <div class="p-3 bg-body-secondary rounded-3">
                <form method="POST">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="" value="self">
                                <label class="form-check-label">Self Usage</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="team">
                                <label class="form-check-label">Team Usage</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 d-flex align-items-center ">
                            <label class="form-label me-4">Slot</label>
                            <input type="date" name="date" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Purpose</label>
                      <textarea name='description' class="form-control" placeholder="" style="height: 100px" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Request Resource</button>
                </form>            
            </div>
        </div>
    </div>

</div>
{% endblock %}