{% extends 'navbar.html' %}

{% block content %}
<div class="row px-2 px-md-4 py-4">
    <div class="col-12 mb-2">
        <h2 class="m-0">Teams</h2>
        <hr class="border-3 my-2">
    </div>
    <div class="">
        <div class="row px-2 mb-3">
            <div class="py-2 px-3 bg-primary-subtle rounded-3">
                <h4 class="mt-1">Team Name</h4>
                <div class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <table class="mb-3">
                    <tr>
                        <td class="fw-semibold">Team Size</td>
                        <td class="px-2">:</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td class="fw-semibold">Managed By</td>
                        <td class="px-2">:</td>
                        <td>Manager #1</td>
                    </tr>
                    <tr>
                        <td class="fw-semibold">Created On</td>
                        <td class="px-2">:</td>
                        <td>1st April, 2023</td>
                    </tr>
                </table>
                <div class="mb-2 text-end">
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'TeamDashboard' %}">Manage Team</a>
                </div>
            </div>
        </div>
        <!-- Replica for demo purposes -->
        <div class="row px-2 mb-3">
            <div class="py-2 px-3 bg-primary-subtle rounded-3">
                <h4 class="mt-1">Team Name</h4>
                <div class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <table class="mb-3">
                    <tr>
                        <td class="fw-semibold">Team Size</td>
                        <td class="px-2">:</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td class="fw-semibold">Managed By</td>
                        <td class="px-2">:</td>
                        <td>Manager #1</td>
                    </tr>
                    <tr>
                        <td class="fw-semibold">Created On</td>
                        <td class="px-2">:</td>
                        <td>1st April, 2023</td>
                    </tr>
                </table>
                <div class="mb-2 text-end">
                    <a class="btn btn-outline-dark btn-sm" href="{% url 'TeamDashboard' %}">Manage Team</a>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}